.LadoEsquerdo {
    display: flex;
    flex-direction: column;
}

.LadoEsquerdo .logo {
    margin: 20px 0px 0px 25px;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
}

@media screen and (max-width: 600px) {
    .LadoEsquerdo .logo {
        margin: 20px 0px 0px 45%;
    }
    .LadoEsquerdo {
        margin-left: -5px;
    }
}

.LadoEsquerdo .logo span {
    margin-left: 5px;
}

.LadoEsquerdo .logo img {
    height: 20px;
    width: 20px;
    position: fixed;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    margin: 50px 25px;
    position: fixed;
}

.menu-principal span {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}

.icone img {
    width: auto;
    height: 2.2vh;
}

.icone svg {
    width: 2vh;
    height: 2vh;
}

