.Usuario img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    background-position: 100px 100px;
}

.Usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Usuario .texto {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .Usuario img{
        width: 30px;
        height: 30px;
        margin-left: -7%;
    }
}

.Usuario img:hover {
    opacity: 0.7;
    transition: 0.7s;
}