.Story {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.Story .imgStory img {
    width: 70px;
    height: 70px;
    border-radius: 50em;
    border: 3px solid transparent;
    padding: 1px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #ff9c9c, #870be6, #f700c5) border-box;
	cursor: pointer;
}

.Story .imgStory img:hover {
    width: 70px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.6s;
}

.Story .nomeStory {
    text-align: center;
    font-size: 11px;
}

:root {
    --background: red;
}