.Post {
    background: #FEFEFE;
    margin: 12px 0 0 0;
}

.ConteudoPost {
    background: #cacaca;
    max-width: 400px;
    max-height: 400px;
} 

.ConteudoPost img {
    width: 368px;
    min-width: 318px;
    max-width: 400px;
    height: 468px;
    max-height: 400px;
}

.BarraSuperior {
    height: 50px;
    display: flex;
    align-items: center;
}

.ImagemPerfilAutor > img {
    background: red;
    border-radius: 20px;
    height: 35px;
    width: 35px;
    margin: 0 8px 0 8px;
}

/* Para tornar isso responsivel, podemos fazer um calculo de variavel, o width e height é reduzido de acordo com a tela, se acaso a tela for 7/10, automaticamente identifica que isso é 7/10 e reduzi os 3 - sentido de partes ou scala ou divisão - razão*/